* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#head {
  height: 17%;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  /* position: fixed; */
}
#head img {
  height: 80px;
  width: 80px;
}
#firstDiv {
  display: flex;
  height: 20px;
  justify-content: space-between;
  gap: 10px;
  height: 40%;
  margin: 10px;
  align-items: center;
}
.btn {
  display: block;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  font-weight: bolder;
  text-transform: uppercase;
}

#secondDiv {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}
/**/
 
#body{
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
}
#left{
    background-color: bisque;
    height: 100%;
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}
#leftBody{
    height:80%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#pnr{
    width: 40%;
    height: 5vh;
    background-color: aquamarine;
    text-align: center;
}
#chart{
    width: 40%;
    height: 5vh;
    background-color: aquamarine;
    text-align: center;
}
/* #leftBody log{
    background-color: rgb(100, 147, 114);
    height: 30%;
    width: 50%;
    display: inline-block;
} */

#right{
    background-color: rgb(8, 233, 76);
    height: 100%;
    width: 50%;
}
